@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
/* shared styles */
.bg-color{
    background-color: #E6533C;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 1rem 2.9rem;
    border: none;
    border-radius: 2.6rem;
}
/* header styles */
.header{
    background: linear-gradient(180.00deg, rgb(50, 50, 50),rgba(119, 119, 119, 0) 100%);
    width: 100%;
    padding-top: 3.56rem;
}
/* navbar styles */
.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    border: 1px solid #ffffff1a;
    padding: 10px 10px 10px 5px;
    border-radius: 50px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    transition-duration: 0.5s;
}
.nav-menu li a:hover{
    background-color: #E6533C;
    padding: 5px 15px;
    border-radius: 50px;
}
.home-focus{
    padding: 5px 15px;
    border-radius: 50px;
}
.burger-menu{
    display: none;
}
.burger-menu i{
    font-size: 1.5rem;
}

/* banner styles */
.banner{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem;
    gap: 5.5rem;
}
.banner-title{
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 122%;
}
.banner-title span{
    font-size: 7.9rem;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}
.banner-sub-title{
    max-width: 520px;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.5);
    margin: 28px 0;
    line-height: 24px;
}
.banner-img-container{
    position: relative;
}
.free-video{
    position: absolute;
    top: 16%;
    left: 58%;
}
.video-tutorial{
    position: absolute;
    bottom: 12%;
    left: -32%;
}
.join-club{
    margin-right: 14px;
}
.download{
    background: transparent;
    border: 1px solid #ffffff !important;
}
.video-bg{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free-video-title{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
}
.free-video-sub-title{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.circle i{
    font-size: 15px;
}
.video-tutorial{
    display: flex;
    align-items: center;
}
/* main styles */
.section{
    width: 80%;
    margin: 5rem auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* change habit */

.change-habit-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 58px;
    gap: 40px;
}
.habits img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid #222222;
    margin-bottom: 30px;
}
.habits h4{
    font-size: 18px;
    margin-bottom: 6px;
}

/* run */
.run-extra-mile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px 54px;
}
.run-img img{
    border-radius: 18px;
    width: 100%;
    object-fit: cover;
}
.run-text-content .section-subtitle{
    margin-top: 14px;
    margin-bottom: 34px;
}

/* Trainings and Exercises */
.exercise-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 58px;
}
.exercise-container div{
    height: 201.5px;
}
.exercise-container p{
    margin: 24px;
    font-size: 14px;
    font-weight: 500;
}
.ex:nth-child(1){
    grid-column-start: span 2;
    background-image: linear-gradient(180.00deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),url("../images/exercise1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(2){
    grid-column-start: span 6;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),url("../images/exercise2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(3){
    grid-column-start: span 4;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/exercise3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(4){
    grid-column-start: span 5;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/exercise4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.ex:nth-child(5){
    grid-column-start: span 3;
    background-image: linear-gradient(180.00deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),url("../images/exercise5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(6){
    grid-column-start: span 4;
    background-image: linear-gradient(180.00deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),url("../images/exercise6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exercise-text{
    display: flex;
    align-items: flex-end;
}

/* BMI Calculator */
.BMI-title{
    margin-bottom: 80px;
}
.calculator-container{
    background-color: rgb(34, 34, 34);
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}
.calculator-form{
    margin-top: 34px;
}
.calculator-titles{
    font-size: 28px;
    font-weight: 900;
}
.Calculator-Chart h3{
    margin-bottom: 50px;
}
.calculate-BMI h3{
    margin-bottom: 14px;
}
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid #ffffff1a;
    padding: 13px 18px;
}
.BMI{
    text-align: left;
}
th{
    font-size: 16px;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
input,select{
    width: 47%;
    padding: 13px 20px 13px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
}
input{
    color: #ffffff;
} 
.input-margin{
    margin-bottom: 12px;
}
input::placeholder, select{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Inter", sans-serif;
}
.activity{
    width: 95%;
}
.cal-btn{
    margin-top: 50px;
}
option{
    color: #ffffff;
    background-color: rgb(44, 44, 44);
}

/* meet our team */
.team-members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin-top: 58px;
}
.team-members div{
    height: 272px;
    border-radius: 18px;
    margin: 10px;
}
.trainer-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 19px;
    padding-bottom: 16px;
}
.bg-img-1{
    background-image: url("../images/trainer1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-2{
    background-image: url("../images/trainer2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-3{
    background-image: url("../images/trainer3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-4{
    background-image: url("../images/trainer4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-5{
    background-image: url("../images/trainer5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-img-6{
    background-image: url("../images/trainer6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.trainer-name{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.trainer{
    font-size: 14px;
    color: rgb(255, 255, 255,0.5);
}

/* package plan */
.pack-plan{
    background-color: #E6533C;
    margin-top: 100px;
    margin-bottom: 100px;
}
.pack-container{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 50px 0;
}
.packages{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 40px;
}
.day-pass{
    background-color: #ffffff;
    color: #383838;
    width: 320px;
    height: 500px;
    padding: 50px;
    border-radius: 2px;
}
.day{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
}
.price{
    margin-bottom: 10px;
    font-size: 2rem;
    color: #E6533C;
    font-weight: 500;
    font-family: "EB Garamond", serif;
}
.price span{
    font-weight: 600;
    font-size: 5rem;
}
.pass{
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-size: 30px;
    font-weight: 300;
}
.pack-plan ul{
    margin: 40px 0;
}
.pack-plan ul li{
    margin: 15px 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;

}
.pack-plan ul li i{
    margin-right: 10px;
    font-weight: 300;
    color: #E6533C;
}
.get-btn{
    text-transform: uppercase;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    border-radius: 2px;
    background-color:#E6533C;
    color: #f5f5f5;
}
.month-month{
    background-color: #171717;
    color: #ffffff;
    width: 320px;
    padding: 50px;
    border-radius: 2px;
}
.month-month .get-btn{
    background-color:#f5f5f5;
    color:  #E6533C;
    font-weight: 500;
}
.member{
    font-size: 20px;
    font-weight: 300;
}
.mem-hr{
    width: 60px;
    border: none;
    border-bottom: 4px solid #151515;
    margin-top: 7px;
}
.from-punch{
    margin: 40px 0;
    font-size: 1.7rem;
}
.at-gym{
    line-height: 28px;
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
}
.each-plan{
    margin-top: 35px;
    font-size: 1.5rem;
}
.pack-rule ul{
    list-style: none;
    margin-top: 30px !important;
}
.pack-rule ul li{
    margin: 15px 0;
}
.pack-rule ul li i{
    color: #1f1f1f;
    margin-right: 10px;
    font-weight: 600;
}
/* footer */
footer{
    background-color: rgb(34, 34, 34);
    padding-top: 66px;
    padding-bottom: 35px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.footer-content p{
    margin-top: 20px;
}
.option-container{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.option-container h3{
    font-size: 32px;
    font-weight: 700;
}
.option-container ul{
    margin-top: 35PX;
}
.option-container li{
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}
.div-hr{
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}
hr{
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
.copy{
    font-size: 20px;
    color: rgb(255, 255, 255, 0.5);
}
/* responsive design */

/* small devices */

@media screen and (max-width: 576px) {
    .navbar{
        /* width: 90%; */
    }
    .nav-menu{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .banner{
        /* width: 90%; */
        flex-direction: column;
        margin-top: 51px;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .banner-sub-title{
        font-size: 14px;
    }
    .banner-title span{
        font-size: 4.25rem;
    }
    .btn{
        font-size: 14px;
        padding: 0.5rem 1rem;
    }
    .video-bg{
        width: 145.91px;
        height: 74.09px;
    }
    .free-video{
        top: 7%;
        left: 53%;
    }
    .video-tutorial{
        bottom: 40%;
        left: 7%;
    }
    .free-video-title{
        font-size: 30px;
    }
    .free-video-sub-title{
        font-size: 9.83px;
    }
    .circle{
        width: 30px;
        height: 30px;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .section-title{
        font-size: 1.8rem;
    }
    .run-extra-mile{
        flex-direction: column;
        padding: 20px;
    }
    .run-img img{
        margin-top: 31px;
    }
    .exercise-container p{
        margin: 12px;
        font-size: 12px;
        font-weight: 400;
    }
    .exercise-container div{
        height: 128px;
    }
    .ex:nth-child(1){
        grid-column-start: span 6;
    }
    .ex:nth-child(2){
        grid-column-start: span 6;
    }
    .ex:nth-child(3){
        display: none;
    }
    .ex:nth-child(4){
        grid-column-start: span 5;
    }
    .ex:nth-child(5){
        grid-column-start: span 7;
    }
    .ex:nth-child(6){
        display: none;
    }
    .BMI-title{
        justify-content: flex-start;
    }
    .calculator-container{
        flex-direction: column;
        margin: 0 auto;
    }
    .Calculator-Chart,  .calculate-BMI{
        padding-left: 20px;
        padding-right: 20px;
    }
    .calculate-BMI{
        margin-top: 42px;
    }
    input,select{
        width: 49%;
    } 
    .input-margin{
        margin: 0 5px 10px 0;
    }
    input::placeholder, select{
        font-size: 12px;
    }
    .activity{
        width: 98%;
    }
    .cal-btn{
        margin-top: 20px;
        font-size: 15px;
    }
    th,td{
        padding: 10px 12px;
    }
    .team-members{
        grid-template-columns: repeat(1,1fr);
    }
    .bg-img-1, .bg-img-4{
        display: none;
    }
    footer{
        padding: 20px 0;
    }
    .footer-content{
        flex-direction: column;
        gap: 50px;
    }
    .footer-content p{
        margin-top: 20px;
    }
    .option-container{
        flex-direction: column;
        gap: 40px;
    }
    hr{
        width: 90%;
    }
    .copy{
        font-size: 16px;
    }
    .pack-container{
        flex-wrap: wrap;
        padding: 30px 10px 30px 10px;
        gap: 40px;
    }
    .packages{
        grid-template-columns: repeat(1,1fr);
    }
    .day-pass,  .month-month{
        width: 300px;
    }
    .from-punch{
        margin: 30px 0 20px 0;
        font-size: 1.3rem;
    }
    .at-gym{
        line-height: 23px;
        font-weight: 300;
        font-size: 14px;
        text-align: justify;
    }
    .each-plan{
        margin-top: 25px;
        font-size: 1.2rem;
    }
    .pack-rule ul{
        margin-top: 20px !important;
    }
    .pack-rule ul li{
        margin: 10px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 23px;
    }
    .pack-rule ul li i{
        color: #1f1f1f;
        margin-right: 6px;
        font-weight: 600;
    }
    .mem-hr{
        width: 50px;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        /* width: 90%; */
    }
    .nav-menu{
        gap: 20px;
    }
    .nav-menu li a{
        font-size: 15px;
    }
    .banner{
        flex-direction: column;
        margin-top: 51px;
    }
    .banner-btn button{
        font-size: 15px;
        padding: 0.8rem 2rem;
    }
    .free-video{
        top: 7%;
        left: 55%;
    }
    .video-tutorial{
        bottom: 25%;
        left: -10%;
    }
    .free-video-title{
        font-size: 30px;
    }
    .free-video-sub-title{
        font-size: 12px;
    }
    .circle{
        width: 30px;
        height: 30px;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(2,1fr);
    }
    .run-extra-mile{
        padding: 30px;
        gap: 65px;
    }
    .run-img{
        height: 320px;
        display: flex;
        justify-content: center;
    }
    .ex:nth-child(1){
        grid-column-start: span 3;
    }
    .ex:nth-child(2){
        grid-column-start: span 5;
    }
    .ex:nth-child(3){
        grid-column-start: span 4;
    }
    .ex:nth-child(4){
        grid-column-start: span 6;
    }
    .ex:nth-child(5){
        grid-column-start: span 3;
    }
    .ex:nth-child(6){
        grid-column-start: span 3;
    }
    .BMI-title{
        justify-content: flex-start;
    }
    .calculator-container{
        flex-direction: column;
    }
    .Calculator-Chart,  .calculate-BMI{
        padding-left: 30px;
        padding-right: 30px;
    }
    .calculate-BMI{
        margin-top: 62px;
    }
    input,select{
        width: 49%;
    } 
    .activity{
        width: 99%;
    }
    .team-members{
        padding: 5px;
        margin-top: 58px;
    }
    .team-members div{
        margin: 5px;
    }
    .trainer-details{
        padding-left: 12px;
        padding-bottom: 12px;
    }
    .section-title{
        font-size: 2rem;
    }
    .section-subtitle{
        font-size: 12px;
    }
    .btn{
        font-size: 16px;
        padding: 0.8rem 2rem;
    }
    .footer-content{
        flex-direction: column;
        gap: 50px;
    }
    .footer-content p{
        margin-top: 20px;
    }
    hr{
        /* width: 90%; */
    }
    .pack-container{
        flex-wrap: wrap;
        padding: 30px 5px 30px 5px;
        gap: 40px;
    }
    .from-punch{
        margin: 30px 0 20px 0;
        font-size: 1.3rem;
    }
    .at-gym{
        line-height: 23px;
        font-weight: 300;
        font-size: 14px;
        text-align: justify;
    }
    .each-plan{
        margin-top: 25px;
        font-size: 1.2rem;
    }
    .pack-rule ul{
        margin-top: 20px !important;
    }
    .pack-rule ul li{
        margin: 10px 0;
        font-size: 14px;
        font-weight: 300;
        line-height: 23px;
    }
    .pack-rule ul li i{
        color: #1f1f1f;
        margin-right: 6px;
        font-weight: 600;
    }
    .mem-hr{
        width: 50px;
    }
    .day-pass,  .month-month{
        width: 260px;
        padding: 25px;
    }
}

/* large devices */

@media screen and (min-width:992px) and (max-width:1400px){
    .navbar, .banner{
        /* width: 95%; */
    }
    .banner{
        flex-direction: column;
    }
    .banner-title{
        text-align: left;
    }
    .banner-btn button{
        font-size: 15px;
        padding: 0.8rem 2rem;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(2,1fr);
    }
    .pack-container{
        flex-wrap: wrap;
        padding: 30px 5px 30px 5px;
        gap: 40px;
    }
}
