@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
/* shared styles */
.bg-color{
    background-color: #E6533C;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 1rem 2.9rem;
    border: none;
    border-radius: 2.6rem;
}
/* header styles */
.header{
    background: linear-gradient(180.00deg, rgb(50, 50, 50),rgba(119, 119, 119, 0) 100%);
    width: 100%;
    height: 100vh;
    padding-top: 3.56rem;
}
/* navbar styles */
.navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .company-name{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.9rem;
    border: 1px solid #ffffff1a;
    padding: 12px 12px 12px 5px;
    border-radius: 50px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
}
.home-focus{
    padding: 8px 20px;
    border-radius: 50px;
}
.burger-menu{
    display: none;
}
.burger-menu i{
    font-size: 1.5rem;
}

/* banner styles */
.banner{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 6rem;
    gap: 5.5rem;
}
.banner-title{
    font-size: 4.9rem;
    font-weight: 900;
    line-height: 122%;
}
.banner-title span{
    font-size: 7.9rem;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
}
.banner-sub-title{
    max-width: 520px;
    font-size: 16px;
    color: rgb(255, 255, 255, 0.5);
    margin: 28px 0;
    line-height: 24px;
}
.join-club{
    margin-right: 14px;
}
.download{
    background: transparent;
    border: 1px solid #ffffff !important;
}
.video-bg{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.free-video-title{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
}
.free-video-sub-title{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.circle i{
    font-size: 15px;
}
.video-tutorial{
    display: flex;
    align-items: center;
}
.banner-img-container{
    position: relative;
}
.free-video{
    position: absolute;
    top: 16%;
    left: 58%;
}
.video-tutorial{
    position: absolute;
    bottom: 12%;
    left: -32%;
}
/* main styles */
main section{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* change habit */

.change-habit-img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 58px;
    gap: 40px;
}
.habits img{
    width: 100%;
    border-radius: 50%;
    border: 5px solid #222222;
    margin-bottom: 30px;
}
.habits h4{
    font-size: 18px;
    margin-bottom: 6px;
}

/* run */
.run-extra-mile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 40px 54px;
}
.run-img img{
    border-radius: 18px;
    width: 100%;
}
.run-text-content .section-subtitle{
    margin-top: 14px;
    margin-bottom: 34px;
}

/* Trainings and Exercises */
.exercise-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 58px;
}
.exercise-container div{
    height: 201.5px;
}
.exercise-container p{
    margin: 24px;
    font-size: 14px;
    font-weight: 500;
}
.ex:nth-child(1){
    grid-column-start: span 2;
    background-image: linear-gradient(180.00deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)),url("../images/exercise1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(2){
    grid-column-start: span 6;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),url("../images/exercise2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(3){
    grid-column-start: span 4;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/exercise3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(4){
    grid-column-start: span 5;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/exercise4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.ex:nth-child(5){
    grid-column-start: span 3;
    background-image: linear-gradient(180.00deg, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),url("../images/exercise5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ex:nth-child(6){
    grid-column-start: span 4;
    background-image: linear-gradient(180.00deg, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),url("../images/exercise6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exercise-text{
    display: flex;
    align-items: flex-end;
}




/* responsive design */

/* small devices */

@media screen and (max-width:576px) {
    .navbar{
        width: 90%;
    }
    .nav-menu{
        display: none;
    }
    .burger-menu{
        display: block;
    }
    .banner{
        width: 90%;
        flex-direction: column;
        margin-top: 51px;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .banner-sub-title{
        font-size: 14px;
    }
    .banner-title span{
        font-size: 4.25rem;
    }
    .btn{
        font-size: 14px;
        padding: 0.5rem 1rem;
    }
    .video-bg{
        width: 145.91px;
        height: 74.09px;
    }
    .free-video{
        top: 7%;
        left: 53%;
    }
    .video-tutorial{
        bottom: 40%;
        left: 7%;
    }
    .free-video-title{
        font-size: 30px;
    }
    .free-video-sub-title{
        font-size: 9.83px;
    }
    .circle{
        width: 30px;
        height: 30px;
    }
    main section{
        width: 90%;
    }
    .change-habit{
        margin-top: 42rem;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .section-title{
        font-size: 1.6rem;
    }
    .run-extra-mile{
        flex-direction: column;
        padding: 20px;
    }
    .run-img img{
        margin-top: 31px;
    }
    .exercise-container p{
        margin: 12px;
        font-size: 12px;
        font-weight: 400;
    }
    .exercise-container div{
        height: 128px;
    }
    .ex:nth-child(1){
        grid-column-start: span 6;
    }
    .ex:nth-child(2){
        grid-column-start: span 6;
    }
    .ex:nth-child(3){
        display: none;
    }
    .ex:nth-child(4){
        grid-column-start: span 5;
    }
    .ex:nth-child(5){
        grid-column-start: span 7;
    }
    .ex:nth-child(6){
        display: none;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        width: 90%;
    }
    .nav-menu{
        gap: 20px;
    }
    .nav-menu li a{
        font-size: 15px;
    }
    .banner{
        flex-direction: column;
        margin-top: 51px;
    }
    .banner-btn button{
        font-size: 15px;
        padding: 0.8rem 2rem;
    }
    .free-video{
        top: 7%;
        left: 55%;
    }
    .video-tutorial{
        bottom: 25%;
        left: -10%;
    }
    .free-video-title{
        font-size: 30px;
    }
    .free-video-sub-title{
        font-size: 12px;
    }
    .circle{
        width: 30px;
        height: 30px;
    }
    .change-habit{
        margin-top: 50rem;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(2,1fr);
    }
    main section{
        width: 90%;
    }
    .section-title{
        font-size: 2rem;
    }
    .run-extra-mile{
        padding: 30px;
        gap: 65px;
    }
    .ex:nth-child(1){
        grid-column-start: span 3;
    }
    .ex:nth-child(2){
        grid-column-start: span 5;
    }
    .ex:nth-child(3){
        grid-column-start: span 4;
    }
    .ex:nth-child(4){
        grid-column-start: span 6;
    }
    .ex:nth-child(5){
        grid-column-start: span 3;
    }
    .ex:nth-child(6){
        grid-column-start: span 3;
    }
}

/* large devices */

@media screen and (min-width:992px) and (max-width:1400px){
    .navbar, .banner{
        width: 95%;
    }
    .banner{
        flex-direction: column;
    }
    .banner-title{
        text-align: left;
    }
    .banner-btn button{
        font-size: 15px;
        padding: 0.8rem 2rem;
    }
    .change-habit{
        margin-top: 60rem;
    }
    .change-habit-img-container{
        grid-template-columns: repeat(2,1fr);
    }
    main section{
        width: 95%;
    }
}

@media screen and (min-width:1400px) {
    .change-habit{
        margin-top: 20rem;
    }
}
